In [12]:
dfPlayOff = dfAUX2.join(dfAUX1)
dfPlayOff.set_index(['Team', 'Season'], inplace=True)
display(dfPlayOff)

                   P/40  R/40      A/40   TS%       AST%   TO% USG%  REBR  \
Team Season
CLE  2005-06    146-307  47.6     21-63  33.3     87-118  73.7   22    83
     2006-07    166-399  41.6     21-75  28.0    148-196  75.5   26   135
     2007-08    113-275  41.1     18-70  25.7    122-167  73.1   16    86
     2008-09    159-312  51.0     27-81  33.3    149-199  74.9   19   109
     2009-10    106-211  50.2     20-50  40.0     88-120  73.3   15    87
MIA  2010-11    174-373  46.6     30-85  35.3    119-156  76.3   34   142
     2011-12    251-502  50.0     22-85  25.9    173-234  73.9   54   170
     2012-13    212-432  49.1     36-96  37.5    136-175  77.7   37   156
     2013-14    192-340  56.5     35-86  40.7    129-160  80.6   14   127
CLE  2014-15    227-544  41.7    25-110  22.7    122-167  73.1   37   189
     2015-16    219-417  52.5     32-94  34.0     82-124  66.1   42   158
     2016-17    217-384  56.5    44-107  41.1    113-162  69.8   19   145
     2017-18    275-510  53.9    39-114  34.2    159-213  74.6   31   169
LAL  2019-20    214-382  56.0    44-119  37.0    108-150  72.0   28   198
     2020-21     54-114  47.4     18-48  37.5      14-23  60.9    7    36
     2021-22    147-295  49.8    28-106  26.4      70-92  76.1   25   133
     2022-23      56-99  56.6     10-26  38.5      17-23  73.9    4    30
     2023-24  2928-5896  49.7  470-1415  33.2  1836-2479  74.1  430  2153

               RPM
Team Season
CLE  2005-06   105
     2006-07   161
     2007-08   102
     2008-09   128
     2009-10   102
MIA  2010-11   176
     2011-12   224
     2012-13   193
     2013-14   141
CLE  2014-15   226
     2015-16   200
     2016-17   164
     2017-18   200
LAL  2019-20   226
     2020-21    43
     2021-22   158
     2022-23    34
     2023-24  2583

#Lebron James Shots Analysis
In this notebook, we will create a dataframe of Lebron James' shots from his career which will be used in the following notebooks to analyze his shots.

## Importing Libraries
The first thing to do is to import the necessary libraries and the data on which we will work.
The dataset can be found here: https://www.kaggle.com/datasets/eduvadillo/lebron-james-career-shots

In [13]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

df = pd.read_csv('lebron_shot_data.csv', encoding='utf8')

Let's start by cleaning the dataframe leaving only the necessary information.

## Data Cleaning
Firstly we will remove the columns that are not necessary for the analysis.
Then we rename the columns to make it easier to understand the data.
Latelly we invert asciss because the original data is formatted for a mirrored basketball court in relation with the one i will plot.

In [14]:
df = pd.read_csv('lebron_shot_data.csv', encoding='utf8')

df = df.drop(['GAME_ID', 'GAME_EVENT_ID', 'PLAYER_ID', 'PLAYER_NAME', 'TEAM_ID', 'EVENT_TYPE', 'GAME_DATE', 'HTM', 'VTM', 'SHOT_ZONE_RANGE', 'SHOT_TYPE', 'ACTION_TYPE'], axis=1)
df = df.rename(columns={"TEAM_NAME": "Team", "PERIOD": "Period", "MINUTES_REMAINING": "Minutes_Remaining", "SHOT_MADE_FLAG": "FG", "SHOT_ATTEMPTED_FLAG": "FGA", "SHOT_ZONE_BASIC": "Zone", "SHOT_ZONE_AREA": "Area", "LOC_X": "X", "LOC_Y": "Y", "SHOT_DISTANCE": "Distance", "SEASON": "Season"})
#inverto la dx con la sx per avere la rappresentazione corretta
#dati sono specchiati perchè la rappresentazione è specchiata rispetto all'asse y
df['X'] = -df['Y']

#trasformo i left center e rigth center in left e right

df['Area'] = df['Area'].replace(['Left Side Center(LC)', 'Right Side Center(RC)'], ['Left Side(L)', 'Right Side(R)'])


#remove not significant data
#remove shots from more than 30 feet
df = df[df['Distance'] <= 30]
#remove shots from the last 3 minutes of the game
df = df[(df['Period'] < 4) | (df['Minutes_Remaining'] <= 3)]

df = df.drop(['Period', 'Minutes_Remaining', 'SECONDS_REMAINING'], axis=1)



df  = df.set_index(['Team'])
df.to_pickle("../creazione_plot/LeBronShots.pickle")
display(df)

,Zone,Area,Distance,X,Y,FGA,FG,Season
Team,,,,,,,,
Cleveland Cavaliers,Mid-Range,Right Side(R),15,0,0,1,1,2003-04
Cleveland Cavaliers,Mid-Range,Left Side(L),13,-2,2,1,1,2003-04
Cleveland Cavaliers,Mid-Range,Right Side(R),16,-5,5,1,1,2003-04
Cleveland Cavaliers,Mid-Range,Left Side(L),14,-92,92,1,0,2003-04
Cleveland Cavaliers,In The Paint (Non-RA),Center(C),5,-22,22,1,1,2003-04
...,...,...,...,...,...,...,...,...
Los Angeles Lakers,In The Paint (Non-RA),Center(C),9,-91,91,1,1,2023-24
Los Angeles Lakers,Restricted Area,Center(C),1,-2,2,1,1,2023-24
Los Angeles Lakers,Restricted Area,Center(C),3,-1,1,1,1,2023-24
Los Angeles Lakers,Above the Break 3,Center(C),26,-269,269,1,1,2023-24
Los Angeles Lakers,Restricted Area,Center(C),1,4,-4,1,0,2023-24

Get the data of Lebron James' advanced stats during his career (regular season).

In [22]:
url = 'https://www.espn.com/nba/player/advancedstats/_/id/1966/lebron-james'
headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.110 Safari/537.36"}
page = requests.get(url, headers=headers)
pageSoup = BeautifulSoup(page.content, 'html.parser')

In [29]:
# Trova la tabella dei dati dei postseason totals (è la terza tabella nella pagina)
tables = pageSoup.find_all('table', class_='Table Table--align-right')
if len(tables) >= 1:  # Verifica se ci sono almeno tre tabelle nella pagina
    table = tables[0]  # Prendi la prima tabella
else:
    print("Non sono presenti abbastanza tabelle nella pagina per estrarre i postseason totals.")
    exit()

# Estrai i dati dalla tabella e crea una lista di dizionari
data = []
if table:
    rows = table.find_all('tr')
    for row in rows[1:]:  # Ignora l'intestazione
        cols = row.find_all(['th', 'td'])
        cols = [col.text.strip() for col in cols]
        data.append({
            'TS%': cols[3],
            'TO%': cols[5],
            'USG%': cols[6],
            'RPM': cols[8],
        })

# Crea un DataFrame Pandas
dfAUX1 = pd.DataFrame(data)

# Stampa il DataFrame
display(dfAUX1)

     TS%   TO%  USG%    RPM
0   48.8  11.2  26.9  -0.10
1   55.4   9.3  28.8   4.95
2   56.8   8.8  31.4   6.02
3   55.2   9.4  29.6   6.95
4   56.8   9.2  32.7   5.80
5   59.1   8.7  32.2  10.05
6   60.4   9.4  32.2   9.92
7   59.4  10.9  29.7   5.74
8   60.5  10.7  29.8   6.88
9   64.0   9.6  28.2   7.58
10  64.9  11.4  29.1   5.25
11  57.7  11.9  31.8   6.30
12  58.8  10.4  31.1   8.63
13  61.9  12.0  30.1   7.59
14  62.1  11.9  31.7   3.01
15  58.8  10.2  32.6   6.78
16  57.7  10.8  33.6   9.58
17  60.2  11.6  32.6   6.73
18  61.9  10.2  31.7   6.09
19  58.3   9.3  33.6   7.63
20  63.0  10.7  29.7   3.26

In [30]:
teams = ['CLE', 'MIA', 'LAL']
season = ['2005-06', '2006-07', '2007-08', '2008-09', '2009-10', '2010-11', '2011-12', '2012-13', '2013-14', '2014-15', '2015-16', '2016-17', '2017-18', '2019-20', '2020-21', '2021-22', '2022-23', '2023-24']

data = []

# Aggiunta delle tuple per CLE
for year in season[:5]:
    data.append(('CLE', year))
    
# Aggiunta delle tuple per MIA
for year in season[5:9]:
    data.append(('MIA', year))

# Aggiunta delle tuple per CLE
for year in season[9:13]:
    data.append(('CLE', year))

# Aggiunta delle tuple per LAL
for year in season[13:]:
    data.append(('LAL', year))

# Creazione del DataFrame
dfAUX2 = pd.DataFrame(data, columns=['Team', 'Season'])

# Visualizzazione del DataFrame
display(dfAUX2)

   Team   Season
0   CLE  2005-06
1   CLE  2006-07
2   CLE  2007-08
3   CLE  2008-09
4   CLE  2009-10
5   MIA  2010-11
6   MIA  2011-12
7   MIA  2012-13
8   MIA  2013-14
9   CLE  2014-15
10  CLE  2015-16
11  CLE  2016-17
12  CLE  2017-18
13  LAL  2019-20
14  LAL  2020-21
15  LAL  2021-22
16  LAL  2022-23
17  LAL  2023-24

In [31]:
#append the two dataframes

dfPlayOff = dfAUX2.join(dfAUX1)
dfPlayOff.set_index(['Team', 'Season'], inplace=True)
display(dfPlayOff)

               TS%   TO%  USG%    RPM
Team Season
CLE  2005-06  48.8  11.2  26.9  -0.10
     2006-07  55.4   9.3  28.8   4.95
     2007-08  56.8   8.8  31.4   6.02
     2008-09  55.2   9.4  29.6   6.95
     2009-10  56.8   9.2  32.7   5.80
MIA  2010-11  59.1   8.7  32.2  10.05
     2011-12  60.4   9.4  32.2   9.92
     2012-13  59.4  10.9  29.7   5.74
     2013-14  60.5  10.7  29.8   6.88
CLE  2014-15  64.0   9.6  28.2   7.58
     2015-16  64.9  11.4  29.1   5.25
     2016-17  57.7  11.9  31.8   6.30
     2017-18  58.8  10.4  31.1   8.63
LAL  2019-20  61.9  12.0  30.1   7.59
     2020-21  62.1  11.9  31.7   3.01
     2021-22  58.8  10.2  32.6   6.78
     2022-23  57.7  10.8  33.6   9.58
     2023-24  60.2  11.6  32.6   6.73