In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [7]:
URL = "https://www.espn.com/nba/player/stats/_/id/1966/seasontype/3/lebron-james"
headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.110 Safari/537.36"}
page = requests.get(URL, headers=headers)
pageSoup = BeautifulSoup(page.content, 'html.parser')

#print(pageSoup.text)

In [55]:
# Trova la tabella dei dati dei postseason totals (è la terza tabella nella pagina)
tables = pageSoup.find_all('table', class_='Table Table--align-right')
if len(tables) >= 3:  # Verifica se ci sono almeno tre tabelle nella pagina
    table = tables[1]  # Prendi la terza tabella
else:
    print("Non sono presenti abbastanza tabelle nella pagina per estrarre i postseason totals.")
    exit()

# Estrai i dati dalla tabella e crea una lista di dizionari
data = []
if table:
    rows = table.find_all('tr')
    for row in rows[1:]:  # Ignora l'intestazione
        cols = row.find_all(['th', 'td'])
        cols = [col.text.strip() for col in cols]
        data.append({
            'FG': cols[0],
            'FG%': cols[1],
            '3PT': cols[2],
            '3P%': cols[3],
            'FT': cols[4],
            'FT%': cols[5],
            'OR': cols[6],
            'DR': cols[7],
            'REB': cols[8],
            'AST': cols[9],
            'BLK': cols[10],
            'STL': cols[11],
            'TO': cols[12],
            'PTS': cols[13]
        })

# Crea un DataFrame Pandas
dfAUX1 = pd.DataFrame(data)

# Stampa il DataFrame
#display(dfAUX1)

,FG,FG%,3PT,3P%,FT,FT%,OR,DR,REB,AST,BLK,STL,TO,PTS
0,146-307,47.6,21-63,33.3,87-118,73.7,22,83,105,76,9,18,44,65
1,166-399,41.6,21-75,28.0,148-196,75.5,26,135,161,159,10,34,40,66
2,113-275,41.1,18-70,25.7,122-167,73.1,16,86,102,99,17,23,33,54
3,159-312,51.0,27-81,33.3,149-199,74.9,19,109,128,102,12,23,30,38
4,106-211,50.2,20-50,40.0,88-120,73.3,15,87,102,84,20,19,23,42
5,174-373,46.6,30-85,35.3,119-156,76.3,34,142,176,123,25,35,56,66
6,251-502,50.0,22-85,25.9,173-234,73.9,54,170,224,129,16,43,47,81
7,212-432,49.1,36-96,37.5,136-175,77.7,37,156,193,152,18,41,43,70
8,192-340,56.5,35-86,40.7,129-160,80.6,14,127,141,95,11,36,46,61
9,227-544,41.7,25-110,22.7,122-167,73.1,37,189,226,169,21,33,58,82
10,219-417,52.5,32-94,34.0,82-124,66.1,42,158,200,160,27,49,54,75
11,217-384,56.5,44-107,41.1,113-162,69.8,19,145,164,141,23,35,43,72
12,275-510,53.9,39-114,34.2,159-213,74.6,31,169,200,198,23,30,52,94
13,214-382,56.0,44-119,37.0,108-150,72.0,28,198,226,184,18,26,40,84
14,54-114,47.4,18-48,37.5,14-23,60.9,7,36,43,48,2,9,7,25
15,147-295,49.8,28-106,26.4,70-92,76.1,25,133,158,104,18,17,28,40
16,56-99,56.6,10-26,38.5,17-23,73.9,4,30,34,44,5,12,11,19
17,2928-5896,49.7,470-1415,33.2,1836-2479,74.1,430,2153,2583,2067,275,483,655,1034

In [56]:
teams = ['CLE', 'MIA', 'LAL']
season = ['2005-06', '2006-07', '2007-08', '2008-09', '2009-10', '2010-11', '2011-12', '2012-13', '2013-14', '2014-15', '2015-16', '2016-17', '2017-18', '2019-20', '2020-21', '2021-22', '2022-23', '2023-24']

data = []

# Aggiunta delle tuple per CLE
for year in season[:5]:
    data.append(('CLE', year))
    
# Aggiunta delle tuple per MIA
for year in season[5:9]:
    data.append(('MIA', year))

# Aggiunta delle tuple per CLE
for year in season[9:13]:
    data.append(('CLE', year))

# Aggiunta delle tuple per LAL
for year in season[13:]:
    data.append(('LAL', year))

# Creazione del DataFrame
dfAUX2 = pd.DataFrame(data, columns=['Team', 'Season'])

# Visualizzazione del DataFrame
#display(dfAUX2)

   Team   Season
0   CLE  2005-06
1   CLE  2006-07
2   CLE  2007-08
3   CLE  2008-09
4   CLE  2009-10
5   MIA  2010-11
6   MIA  2011-12
7   MIA  2012-13
8   MIA  2013-14
9   CLE  2014-15
10  CLE  2015-16
11  CLE  2016-17
12  CLE  2017-18
13  LAL  2019-20
14  LAL  2020-21
15  LAL  2021-22
16  LAL  2022-23
17  LAL  2023-24

In [57]:
dfPlayOff = dfAUX2.join(dfAUX1)
dfPlayOff.set_index(['Team', 'Season'], inplace=True)
display(dfPlayOff)

                     FG   FG%       3PT   3P%         FT   FT%   OR    DR  \
Team Season
CLE  2005-06    146-307  47.6     21-63  33.3     87-118  73.7   22    83
     2006-07    166-399  41.6     21-75  28.0    148-196  75.5   26   135
     2007-08    113-275  41.1     18-70  25.7    122-167  73.1   16    86
     2008-09    159-312  51.0     27-81  33.3    149-199  74.9   19   109
     2009-10    106-211  50.2     20-50  40.0     88-120  73.3   15    87
MIA  2010-11    174-373  46.6     30-85  35.3    119-156  76.3   34   142
     2011-12    251-502  50.0     22-85  25.9    173-234  73.9   54   170
     2012-13    212-432  49.1     36-96  37.5    136-175  77.7   37   156
     2013-14    192-340  56.5     35-86  40.7    129-160  80.6   14   127
CLE  2014-15    227-544  41.7    25-110  22.7    122-167  73.1   37   189
     2015-16    219-417  52.5     32-94  34.0     82-124  66.1   42   158
     2016-17    217-384  56.5    44-107  41.1    113-162  69.8   19   145
     2017-18    275-510  53.9    39-114  34.2    159-213  74.6   31   169
LAL  2019-20    214-382  56.0    44-119  37.0    108-150  72.0   28   198
     2020-21     54-114  47.4     18-48  37.5      14-23  60.9    7    36
     2021-22    147-295  49.8    28-106  26.4      70-92  76.1   25   133
     2022-23      56-99  56.6     10-26  38.5      17-23  73.9    4    30
     2023-24  2928-5896  49.7  470-1415  33.2  1836-2479  74.1  430  2153

               REB   AST  BLK  STL   TO   PTS
Team Season
CLE  2005-06   105    76    9   18   44    65
     2006-07   161   159   10   34   40    66
     2007-08   102    99   17   23   33    54
     2008-09   128   102   12   23   30    38
     2009-10   102    84   20   19   23    42
MIA  2010-11   176   123   25   35   56    66
     2011-12   224   129   16   43   47    81
     2012-13   193   152   18   41   43    70
     2013-14   141    95   11   36   46    61
CLE  2014-15   226   169   21   33   58    82
     2015-16   200   160   27   49   54    75
     2016-17   164   141   23   35   43    72
     2017-18   200   198   23   30   52    94
LAL  2019-20   226   184   18   26   40    84
     2020-21    43    48    2    9    7    25
     2021-22   158   104   18   17   28    40
     2022-23    34    44    5   12   11    19
     2023-24  2583  2067  275  483  655  1034

In [3]:
df = pd.read_csv('lebron_shot_data.csv', encoding='utf8')

df = df.drop(['GAME_ID', 'GAME_EVENT_ID', 'PLAYER_ID', 'PLAYER_NAME','TEAM_ID', 'EVENT_TYPE', 'SHOT_DISTANCE', 'GAME_DATE', 'HTM', 'VTM'], axis = 1)
df = df.rename(columns={"TEAM_NAME": "Team", "SHOT_MADE_FLAG": "FG", "SHOT_ATTEMPTED_FLAG": "FGA", "SHOT_ZONE_BASIC": "Zone", "SHOT_ZONE_AREA": "Area", "SHOT_ZONE_RANGE": "Range"})
df  = df.set_index(['Team'])
df.to_pickle("../creazione_plot/LeBronShots.pickle")
display(df)

,PERIOD,MINUTES_REMAINING,SECONDS_REMAINING,ACTION_TYPE,SHOT_TYPE,Zone,Area,Range,LOC_X,LOC_Y,FGA,FG,SEASON
Team,,,,,,,,,,,,,
Cleveland Cavaliers,1,8,56,Jump Shot,2PT Field Goal,Mid-Range,Right Side(R),8-16 ft.,158,0,1,1,2003-04
Cleveland Cavaliers,1,7,44,Jump Shot,2PT Field Goal,Mid-Range,Left Side(L),8-16 ft.,-131,2,1,1,2003-04
Cleveland Cavaliers,1,7,1,Fadeaway Jump Shot,2PT Field Goal,Mid-Range,Right Side(R),16-24 ft.,163,5,1,1,2003-04
Cleveland Cavaliers,1,6,29,Jump Shot,2PT Field Goal,Mid-Range,Left Side(L),8-16 ft.,-118,92,1,0,2003-04
Cleveland Cavaliers,1,4,48,Running Jump Shot,2PT Field Goal,In The Paint (Non-RA),Center(C),Less Than 8 ft.,54,22,1,1,2003-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Los Angeles Lakers,2,7,6,Driving Floating Jump Shot,2PT Field Goal,In The Paint (Non-RA),Center(C),8-16 ft.,-1,91,1,1,2023-24
Los Angeles Lakers,2,2,30,Running Finger Roll Layup Shot,2PT Field Goal,Restricted Area,Center(C),Less Than 8 ft.,10,2,1,1,2023-24
Los Angeles Lakers,3,11,24,Driving Finger Roll Layup Shot,2PT Field Goal,Restricted Area,Center(C),Less Than 8 ft.,-36,1,1,1,2023-24
Los Angeles Lakers,3,8,5,Pullup Jump shot,3PT Field Goal,Above the Break 3,Center(C),24+ ft.,23,269,1,1,2023-24
Los Angeles Lakers,3,6,19,Running Reverse Layup Shot,2PT Field Goal,Restricted Area,Center(C),Less Than 8 ft.,-12,-4,1,0,2023-24